# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Virtual envs
.venv/
venv/
env/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Generated reports
*-Arma3_Keymaker.html
*.dump.txt
